<% layout("/layouts/boilerplate") %>
<body>
   
    <div class="row mt-3">
      <div class="col-8 offset-3">
         <h3><%= listing.title %></h3>
      </div>
       <div class="card show-card col-6 offset-3 listing-card">
       <img src="<%= listing.image.url.replace('/upload','/upload/f_auto,q_auto,w_400') %>"
          class="card-img-top show-img"
          alt="listing-image"
         loading="lazy"
         />
        <div class="card-body">
          <p class="card-text">
              <p class="card-text">Owned By: <i><%=listing.owner.username %></i></p>
              <p class="card-text"><%= listing.description %></p>
               <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
              <p class="card-text"><%= listing.location %></p>
               <p class="card-text"><%= listing.country %></p>
        </div>
       

     <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
       <div class="btns">
       <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 offst-2" style="background-color:#fe424d;">Edit </a>

    <form method="Post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-4">Delete </button>
    </form>
      </div>
     <% } %>

    </div>
        <div class="col-6 offset-3 mb-3">
          <% if(currUser){ %>
             <hr>
        <h4>Leave Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
 
           <div class="mb-3 mt-3 ">
             <label for="rating" class="form-label" >Rating</label>
          <fieldset class="starability-slot">    
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>

          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]" id="comment" cols="30" row="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comment</div>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>
     
        <% if(listing.reviews.length>0){ %>
        <p><b>All reviews</b></p>
      
          <div class="row">
       <% for(let review  of listing.reviews){%> 
           <div class="card col-5 mb-3 ms-3 ">
            <div class="card-body"></div>
            <h5 class="card-title"><%= review.author.username %></h5>
            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
            <p class="card-text"><%= review.comment %></p>
            <form class="mb-3" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
           </div>
        <% } %>
        </div>
       <% } %>
        </div>

      <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

<div class="col-6 offset-3 mb-3">
  <h3>Where you'll be</h3>

  <div
    id="map"
    style="height: 350px; width: 100%; border-radius: 12px;"
  ></div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;

  const lng = coordinates[0];
  const lat = coordinates[1];

const map = L.map("map").setView([lat, lng], 9);

  L.tileLayer(
    "https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}",
    {
      maxZoom: 20,
      subdomains: ["mt0", "mt1", "mt2", "mt3"],
    }
  ).addTo(map);

  const redIcon = L.icon({
    iconUrl:
      "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png",

    shadowUrl:
      "https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png",

    iconSize: [25, 41],
    iconAnchor: [12, 41],
  });

  const marker = L.marker([lat, lng], { icon: redIcon }).addTo(map);

  marker.bindPopup("<%= listing.title %>");
</script>
        </div>
    </div>
</body>
